<% 10.times do %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=20&amp;txt=hackathon&amp;w=130&amp;h=130&amp;bg=fb9505&amp;txtclr=ffffff">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">HACK x PKU 某个学校 2015 年黑客马拉松</h4>
        <h5 class="media-heading text-muted">2015.13.14 - 9.16</h5>
        <div class="media-heading"><span class="label label-info"><%= icon('map-marker', "北京") %></span></div>
        <p>山川壯麗，物產豐隆，炎黃世胄，東亞稱雄。毋自暴自棄，毋故步自封，光我民族，促進大同。創業維艱，緬懷諸先烈；守成不易，莫徒務近功。同心同德，貫徹始終，青天白日滿地紅。同心同德，貫徹始終，青天白日滿地紅。</p>
      </div>
      <div class="media-right media-middle">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="width: 240px">报 名</button>
      </div>
    </div>
  </div>
</div>
<% end %>
